/* ====================================================

 @contributor: Rickard Andersson
 @content: generic for form elements

======================================================= */

/****************************************
  ==== RESET
****************************************/

input[type="text"], input[type="tel"], input[type="email"], input[type="url"], input[type="number"], input[type="password"], input[type="search"], select, textarea, button, input[type="submit"], input[type="reset"] {
  outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
button {
  border: 0; background: transparent; cursor: pointer;
}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
}

/****************************************
  ==== TYPOGRAPHY
****************************************/

input[type="text"], input[type="tel"], input[type="email"], input[type="url"], input[type="number"], input[type="password"], input[type="search"], select, textarea, button {
  font-size: 16px; font-family: 'Jost', sans-serif; color: #000; font-weight: 400;
}

/****************************************
  ==== LABELS & FIELDS
****************************************/

.field {
  width: 100%; margin: 0 0 20px 0;
}
label, fieldset legend {
  line-height: 1.25; display: block; margin: 0 0 10px 0; cursor: pointer; position: relative; font-weight: 700; font-size: 1.7em;
}
fieldset.error {
  border: #f00 1px solid;
}
fieldset legend {
  cursor: auto;
}

/****************************************
  ==== MESSAGES
****************************************/

.form-error {
  width: 100%; font-size: 1.5em; padding: 5px 0 0 0; margin: 0; color: #f00;
}
.form-error:after {
  visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;
}
